:root {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #807676;
  --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: var(--secondary);
  min-height: 100vh;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--primary); 
  padding: 40px 30px;
  background-color:rgb(255, 112, 136); 
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;
}


#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: var(--primary);
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

input, select {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
  border-radius: 0; 
}

input:focus, select:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button {
  width: 100%;
  padding: 12px;
  background-color:rgb(57, 57, 57) ;
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  border-radius: 0;
}

button:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary);
}

.footer a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}


.ace_editor {
    border: 2px solid var(--primary);
    box-shadow: var(--shadow);
    margin-top: 20px;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; 
  width: 100%;
}

.ace_editor, .ace_editor * {
    text-align: left !important;
}


.ace_editor {
    font-family: 'Courier New', Courier, monospace !important;
    line-height: normal !important;
}

.editor-page-container {
    text-align: left !important;
    align-items: flex-start !important;
}
h1, h3 {
  text-align: center !important;
  font-weight: 900 !important; 
  text-transform: uppercase;   
  color: black;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight:bold;
}


.dashboard-container {
  text-align: center; 
}

ul li {
  text-align: center;
  font-weight: bold;
}
